<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMatch</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/mmIcon6.png">
</head>
<body>
    <header>
        <form>
            <img src="./img/movieMatch.png">
            <div id="search">
                <input placeholder="Search for a movie!">
                <button>Search</button>
            </div>
        </form>
    </header>

    <div id="main-content">
        <div id="movieBg">
            
        </div>

        <div id="movie-info">
            <div id="infoImage">
                <a id="goToMovie" target="_blank">GO TO MOVIE &rarr;</a>
                <a id="movieLink" target="_blank"><img id="moviePoster"></a>
            </div>
            <div>
                <h1 id="titleText"></h1>
                <h3 id="dateText"></h3>
                <p id="overviewText"></p>
                <small id="idText"></small>
            </div>
        </div>
    </div>

    <div id="recMovies">
        <h1>Recommended Movies</h1>
        <ul id="similarMovies">
            
        </ul>
    </div>

    <script src="/js/app.js"></script>
</body>
</html>